.container {height: 220px; width: 250px; margin-bottom:5px}		
.ui-icon { display:inline-block;line-height: 28px; }

#chef_server {font-size: 22px; color:red;}
#errors {color:red; font-size: 22px; padding-bottom: 20px;}

#environments { width: 250px; height: 120px; } 
#environment_attributes * { display:inline; margin-right: 20px } 
#environment_json { display:none; width: 350px; height: 40px; min-width:300px; resize:none }
#environment_description { overflow:auto; height: 150px; width: 350px; }
#environment_json_link { display:none }


#roles { width: 250px; height: 120px; } 
#role_attributes * { display:inline; margin-right: 20px } 
#role_json { display:none; width: 580px; height: 240px; min-width:520px; resize:none } 
#role_description { max-width:300px; width: 300px; height: 280px; overflow:auto } 
#role_json_link { display:none }


#node_attributes * { display:inline; margin-right: 20px } 		
#node_json {display:none; width: 580px; height: 240px; min-width:520px; resize:none} 
#node_description { overflow:auto; height: 300px; width: 350px; }
#node_json_link { display:none }


#cookbook_info {width:800px; height: 300px }
#cookbook_json {display:none; min-width:520px; resize:none }


#environment_description label,
#node_description label, 
#cookbook_description label,
#role_description label {display:block; }
